@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  word-break: break-all;
  font-size: 10px;
}
@media (min-width: 768px) and (max-width: 940px) {
  html {
    font-size: 2.6666666667vw;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 1.0638297872vw;
  }
}

body {
  font-family: "Yu Gothic", "YuGothic", "游ゴシック", "游ゴシック体", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 1.6rem;
  line-height: 2.0625;
  font-weight: 500;
  letter-spacing: 0;
}

.u-sp-only {
  display: block;
}
@media (min-width: 768px) {
  .u-sp-only {
    display: none !important;
  }
}

.u-ps-only {
  display: block;
}
@media (max-width: 767px) {
  .u-ps-only {
    display: none !important;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

#container {
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.inner {
  width: 89.3333333333vw;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .inner {
    width: min(81.4814814815vw, 880px);
  }
}

@media (min-width: 768px) {
  a {
    cursor: pointer;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  a:hover {
    opacity: 0.7;
  }
}

.l-header {
  width: 100%;
  height: 13.3333333333vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
}
@media (min-width: 768px) {
  .l-header {
    width: min(100vw, 1080px);
    height: min(7.4074074074vw, 80px);
    margin: 0 auto;
    padding-inline: min(9.2592592593vw, 100px);
  }
}

.l-footer {
  background: #CB0000;
  width: 100%;
  padding: 4.4rem 2rem 5rem;
}
@media (min-width: 768px) {
  .l-footer {
    padding: min(4.0740740741vw, 44px) min(31.4814814815vw, 340px) min(4.4444444444vw, 48px);
  }
}

.c-site-title {
  font-size: 3.4666666667vw;
  line-height: 1.0769230769;
  font-weight: 700;
}
@media (min-width: 768px) {
  .c-site-title__main {
    font-size: min(1.8518518519vw, 20px);
    line-height: 1.15;
    display: block;
  }
}
@media (min-width: 768px) {
  .c-site-title__sub {
    font-size: min(1.3888888889vw, 15px);
    line-height: 1.5333333333;
    display: block;
  }
}

.c-cta {
  text-align: center;
}
.c-cta__inner {
  width: 89.3333333333vw;
  margin: 0 auto;
  padding-block: 3.7333333333vw 3.4666666667vw;
  background: #CB0000;
  font-size: 5.3333333333vw;
  line-height: 1.65;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 0.2em;
}
@media (min-width: 768px) {
  .c-cta__inner {
    width: min(27.7777777778vw, 300px);
    padding-block: min(1.2962962963vw, 14px) min(1.2037037037vw, 13px);
    margin-inline: auto 0;
    font-size: min(1.8518518519vw, 20px);
    line-height: 1.65;
    border: solid 0.1rem #CB0000;
    -webkit-transition: background 0.4s, color 0.4s;
    transition: background 0.4s, color 0.4s;
    cursor: pointer;
  }
  .c-cta__inner:hover {
    background: #FFF;
    color: #CB0000;
  }
}

.c-nav--header {
  position: fixed;
  top: 13.3333333333vw;
  right: 0;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
}
@media (min-width: 768px) {
  .c-nav--header {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
}
@media (min-width: 768px) {
  .c-nav--header .c-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: min(3.0555555556vw, 33px);
       -moz-column-gap: min(3.0555555556vw, 33px);
            column-gap: min(3.0555555556vw, 33px);
  }
}
.c-nav--header .c-nav__item {
  padding: 1.5rem 2rem 1rem;
  background: #CB0000;
  width: 80vw;
  height: 15.4666666667vw;
}
@media (min-width: 768px) {
  .c-nav--header .c-nav__item {
    padding: 0;
    width: auto;
    height: min(7.4074074074vw, 80px);
    background: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.c-nav--header .c-nav__item a {
  font-size: 4.8vw;
  line-height: 1.8333333333;
  font-weight: 700;
  display: block;
  color: #FFF;
}
@media (min-width: 768px) {
  .c-nav--header .c-nav__item a {
    font-size: min(1.5740740741vw, 17px);
    line-height: 1.9411764706;
    color: #000;
  }
}
@media (min-width: 768px) {
  .c-nav--header .c-nav__item--line a {
    position: relative;
  }
  .c-nav--header .c-nav__item--line a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.1rem;
    bottom: 0;
    left: 0;
    background: #000;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  .c-nav--header .c-nav__item--line a:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
.c-nav--header .c-nav__item--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .c-nav--header .c-nav__item--contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .c-nav--header .c-nav__item--contact a {
    padding: min(0.6481481481vw, 7px) min(2.7777777778vw, 30px) min(0.462962963vw, 5px);
    background: #CB0000;
    border: solid 0.1rem #CB0000;
    color: #FFF;
    font-size: min(1.3888888889vw, 15px);
    line-height: 2.2;
    display: block;
    -webkit-transition: background 0.4s, color 0.4s;
    transition: background 0.4s, color 0.4s;
  }
  .c-nav--header .c-nav__item--contact a:hover {
    background: #FFF;
    color: #CB0000;
  }
}
.c-nav--header.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.c-nav--footer .c-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-inline: 5.6vw;
  -webkit-column-gap: 8vw;
     -moz-column-gap: 8vw;
          column-gap: 8vw;
}
@media (min-width: 768px) {
  .c-nav--footer .c-nav__list {
    padding-inline: min(4.4444444444vw, 48px);
    -webkit-column-gap: min(3.0555555556vw, 33px);
       -moz-column-gap: min(3.0555555556vw, 33px);
            column-gap: min(3.0555555556vw, 33px);
  }
}
.c-nav--footer .c-nav__item a {
  font-size: 4.5333333333vw;
  line-height: 1.9411764706;
  font-weight: 700;
  color: #FFF;
  display: block;
}
@media (min-width: 768px) {
  .c-nav--footer .c-nav__item a {
    font-size: min(1.5740740741vw, 17px);
    line-height: 1.9411764706;
  }
}

.c-hamburger {
  width: 18.9333333333vw;
  height: 100%;
  background: #CB0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-hamburger__inner {
  position: relative;
  width: 8.5333333333vw;
  height: 7.4666666667vw;
}
.c-hamburger__inner span {
  width: 100%;
  height: 1.0666666667vw;
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.c-hamburger__inner span:nth-of-type(2) {
  top: 3.2vw;
}
.c-hamburger__inner span:nth-of-type(3) {
  top: 6.4vw;
}
.c-hamburger.is-active span:nth-of-type(1) {
  top: 3.2vw;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.c-hamburger.is-active span:nth-of-type(2) {
  display: none;
}
.c-hamburger.is-active span:nth-of-type(3) {
  top: 3.2vw;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.68vw;
     -moz-column-gap: 1.68vw;
          column-gap: 1.68vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .c-header__logo a {
    -webkit-column-gap: min(0.9259259259vw, 10px);
       -moz-column-gap: min(0.9259259259vw, 10px);
            column-gap: min(0.9259259259vw, 10px);
  }
}
.c-header__logo-image {
  width: 5.416vw;
}
@media (min-width: 768px) {
  .c-header__logo-image {
    width: min(2.962962963vw, 32px);
  }
}

.c-footer__logo {
  width: 8.5333333333vw;
  margin: 1.8rem auto 0;
}
@media (min-width: 768px) {
  .c-footer__logo {
    width: min(2.962962963vw, 32px);
    margin-top: min(1.9444444444vw, 21px);
  }
}
.c-footer__copyright {
  color: #FFF;
  font-size: 4vw;
  line-height: 1.3333333333;
  text-align: center;
  margin-top: 2.9rem;
}
@media (min-width: 768px) {
  .c-footer__copyright {
    font-size: min(1.3888888889vw, 15px);
    line-height: 2.2;
    margin-top: min(2.1296296296vw, 23px);
  }
}
.c-footer__sns .c-sns__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.2vw;
     -moz-column-gap: 3.2vw;
          column-gap: 3.2vw;
  margin-top: 1.6rem;
}
@media (min-width: 768px) {
  .c-footer__sns .c-sns__list {
    -webkit-column-gap: min(1.1111111111vw, 12px);
       -moz-column-gap: min(1.1111111111vw, 12px);
            column-gap: min(1.1111111111vw, 12px);
    margin-top: 0;
  }
}

.c-page-top {
  position: fixed;
  bottom: 101.6vw;
  right: 5.3333333333vw;
  width: 6.8rem;
  height: 6.8rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
@media (min-width: 768px) {
  .c-page-top {
    bottom: min(33.7962962963vw, 365px);
    right: min(10.7407407407vw, 116px);
  }
}
.c-page-top span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 2.4rem;
  border-right: 0.5rem solid #FFF;
  border-radius: 10px;
}
.c-page-top span:nth-of-type(1) {
  -webkit-transform: translate(-30%, -50%) rotate(35deg);
          transform: translate(-30%, -50%) rotate(35deg);
  -webkit-transform-origin: top;
          transform-origin: top;
}
.c-page-top span:nth-of-type(2) {
  -webkit-transform: translate(-70%, -50%) rotate(-35deg);
          transform: translate(-70%, -50%) rotate(-35deg);
  -webkit-transform-origin: top;
          transform-origin: top;
}

@media (min-width: 768px) {
  .c-feature-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.c-feature-card:not(:first-of-type) {
  margin-top: 10.4vw;
}
@media (min-width: 768px) {
  .c-feature-card:not(:first-of-type) {
    margin-top: min(4.6296296296vw, 50px);
  }
  .c-feature-card:not(:first-of-type) .c-feature-card__body {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .c-feature-card__image {
    width: min(32.4074074074vw, 350px);
    height: 100%;
  }
}
.c-feature-card__body {
  margin-top: 8vw;
}
@media (min-width: 768px) {
  .c-feature-card__body {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: min(0.6481481481vw, 7px);
  }
}
.c-feature-card__title {
  font-size: 5.3333333333vw;
  line-height: 1.5;
  font-weight: 700;
  padding-bottom: 2.6666666667vw;
  border-bottom: solid 0.5333333333vw #CB0000;
}
@media (min-width: 768px) {
  .c-feature-card__title {
    font-size: min(2.037037037vw, 22px);
    line-height: 1.5;
    padding-left: min(4.6296296296vw, 50px);
    padding-bottom: min(1.1111111111vw, 12px);
    border-bottom: solid min(0.1851851852vw, 2px) #CB0000;
  }
}
.c-feature-card__text {
  line-height: 1.875;
  margin-top: 4.5333333333vw;
}
@media (min-width: 768px) {
  .c-feature-card__text {
    font-size: min(1.6666666667vw, 18px);
    line-height: 1.8333333333;
    margin-top: min(3.4259259259vw, 37px);
    padding-left: min(4.6296296296vw, 50px);
  }
}

.c-result-card {
  margin-top: 10.4vw;
}
@media (min-width: 768px) {
  .c-result-card {
    margin-top: min(3.3333333333vw, 36px);
  }
}
.c-result-card__image {
  width: 100%;
  height: 53.3333333333vw;
}
@media (min-width: 768px) {
  .c-result-card__image {
    height: min(17.5925925926vw, 190px);
  }
}
.c-result-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.c-result-card__textarea {
  margin-top: 7.2vw;
}
.c-result-card__textarea h3 {
  font-size: 5.8666666667vw;
  line-height: 1.5;
  font-weight: 700;
  color: #FFF;
  text-align: center;
}
@media (min-width: 768px) {
  .c-result-card__textarea h3 {
    font-size: min(2.037037037vw, 22px);
    line-height: 1.5;
  }
}
.c-result-card__textarea p {
  font-size: 4.8vw;
  line-height: 1.6666666667;
  color: #FFF;
}
@media (min-width: 768px) {
  .c-result-card__textarea p {
    font-size: min(1.6666666667vw, 18px);
    line-height: 1.6666666667;
  }
}
.c-result-card:hover .c-result-card__image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slider {
  position: relative;
}
@media (min-width: 768px) {
  .slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 3.5rem;
       -moz-column-gap: 3.5rem;
            column-gap: 3.5rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.slider .prev,
.slider .next {
  position: absolute;
  top: 45.8666666667vw;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 1;
}
@media (min-width: 768px) {
  .slider .prev,
  .slider .next {
    top: 260px;
  }
}
.slider .prev {
  left: 4vw;
}
.slider .prev::before, .slider .prev::after {
  content: "";
  position: absolute;
  width: 8vw;
  height: 1.8666666667vw;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  top: 50%;
}
@media (min-width: 768px) {
  .slider .prev::before, .slider .prev::after {
    width: 30px;
    height: 7px;
  }
}
.slider .prev::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  margin-top: -2.1333333333vw;
}
.slider .prev::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  margin-top: 2.1333333333vw;
}
.slider .next {
  right: -1.8666666667vw;
}
.slider .next::before, .slider .next::after {
  content: "";
  position: absolute;
  width: 8vw;
  height: 1.8666666667vw;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  top: 50%;
}
.slider .next::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  margin-top: -2.1333333333vw;
}
.slider .next::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  margin-top: 2.1333333333vw;
}

.c-section-title {
  font-size: 6.6666666667vw;
  line-height: 1.6;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 768px) {
  .c-section-title {
    font-size: min(2.7777777778vw, 30px);
    line-height: 1.6666666667;
  }
}
.c-section-title--white {
  color: #FFF;
}
.c-section-title--red {
  color: #CB0000;
}

.p-fv {
  position: relative;
}
.p-fv__image {
  width: 100%;
}
.p-fv__textarea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(80, 80, 80, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.p-fv__catch {
  position: absolute;
  text-align: center;
  color: #FFF;
  font-size: 8vw;
  line-height: 1.6666666667;
  font-weight: 700;
  bottom: 51.2vw;
}
@media (min-width: 768px) {
  .p-fv__catch {
    font-size: min(3.7037037037vw, 40px);
    line-height: 1.5;
    bottom: min(15vw, 162px);
  }
}
.p-fv__catch span {
  display: block;
}

.p-concept {
  padding: 12.2666666667vw 5.3333333333vw 9.0666666667vw;
}
@media (min-width: 768px) {
  .p-concept {
    padding: min(6.1111111111vw, 66px) min(10.1851851852vw, 110px) min(5.0925925926vw, 55px);
  }
}
.p-concept__text {
  font-size: 4.8vw;
  line-height: 1.6666666667;
  margin-top: 1.8666666667vw;
}
@media (min-width: 768px) {
  .p-concept__text {
    font-size: min(1.6666666667vw, 18px);
    line-height: 1.6666666667;
    margin-top: min(1.5740740741vw, 17px);
    text-align: center;
  }
}
.p-concept__image {
  margin-top: 5.3333333333vw;
  width: 100%;
}
@media (min-width: 768px) {
  .p-concept__image {
    margin-top: min(3.1481481481vw, 34px);
  }
}
.p-concept__contents {
  position: relative;
  margin-top: 8.5333333333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10.6666666667vw;
     -moz-column-gap: 10.6666666667vw;
          column-gap: 10.6666666667vw;
}
@media (min-width: 768px) {
  .p-concept__contents {
    margin-top: min(1.5740740741vw, 17px);
    -webkit-column-gap: min(3.7037037037vw, 40px);
       -moz-column-gap: min(3.7037037037vw, 40px);
            column-gap: min(3.7037037037vw, 40px);
  }
}
.p-concept__contents-item {
  font-size: 5.3333333333vw;
  line-height: 2.5;
}
@media (min-width: 768px) {
  .p-concept__contents-item {
    font-size: min(2.3148148148vw, 25px);
    line-height: 2;
  }
}
.p-concept__contents-item p:not(:first-child) {
  padding-top: 4.5333333333vw;
}
@media (min-width: 768px) {
  .p-concept__contents-item p:not(:first-child) {
    padding-top: min(1.5740740741vw, 17px);
  }
}
.p-concept__contents-item:nth-of-type(1) {
  text-align: right;
  color: #CB0000;
  font-weight: 700;
}
.p-concept__line {
  position: relative;
  top: -8vw;
  width: 0.8vw;
  height: 50.1333333333vw;
  background: #CB0000;
  border-radius: 1rem;
}
@media (min-width: 768px) {
  .p-concept__line {
    top: min(-2.3148148148vw, -25px);
    width: min(0.2777777778vw, 3px);
    height: min(17.4074074074vw, 188px);
  }
}
.p-concept__line .p-concept__arrow {
  position: absolute;
}
.p-concept__line .p-concept__arrow:nth-of-type(1) {
  top: -0.4rem;
  left: 0.1rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  width: 5.6vw;
  height: 0.8vw;
  background: #CB0000;
  border-radius: 1rem;
}
@media (min-width: 768px) {
  .p-concept__line .p-concept__arrow:nth-of-type(1) {
    width: min(1.9444444444vw, 21px);
    height: min(0.2777777778vw, 3px);
  }
}
.p-concept__line .p-concept__arrow:nth-of-type(2) {
  top: -0.4rem;
  right: 0.1rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  width: 5.6vw;
  height: 0.8vw;
  background: #CB0000;
  border-radius: 1rem;
}
@media (min-width: 768px) {
  .p-concept__line .p-concept__arrow:nth-of-type(2) {
    width: min(1.9444444444vw, 21px);
    height: min(0.2777777778vw, 3px);
  }
}
.p-concept__line .p-concept__ball {
  position: absolute;
  bottom: -2.6666666667vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 5.3333333333vw;
  height: 5.3333333333vw;
  background: #CB0000;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .p-concept__line .p-concept__ball {
    bottom: min(-0.7407407407vw, -8px);
    width: min(1.8518518519vw, 20px);
    height: min(1.8518518519vw, 20px);
  }
}
.p-concept__line .p-concept__ball:nth-of-type(3) {
  bottom: 14.6666666667vw;
}
@media (min-width: 768px) {
  .p-concept__line .p-concept__ball:nth-of-type(3) {
    bottom: min(5.5555555556vw, 60px);
  }
}
.p-concept__line .p-concept__ball:nth-of-type(4) {
  bottom: 32vw;
}
@media (min-width: 768px) {
  .p-concept__line .p-concept__ball:nth-of-type(4) {
    bottom: min(11.5740740741vw, 125px);
  }
}

.p-about {
  padding: 13.0666666667vw 5.3333333333vw 10.6666666667vw;
  background: #CB0000;
}
@media (min-width: 768px) {
  .p-about {
    padding: min(6.2962962963vw, 68px) min(9.2592592593vw, 100px) min(5.5555555556vw, 60px);
  }
}
.p-about__text {
  margin-top: 3.7333333333vw;
  font-size: 4.8vw;
  line-height: 1.6666666667;
  color: #FFF;
  text-align: center;
}
@media (min-width: 768px) {
  .p-about__text {
    margin-top: min(2.7777777778vw, 30px);
    font-size: min(1.6666666667vw, 18px);
    line-height: 1.6666666667;
  }
}

.p-feature {
  padding: 13.0666666667vw 5.3333333333vw 10.4vw;
}
@media (min-width: 768px) {
  .p-feature {
    padding: min(5.9259259259vw, 64px) min(9.2592592593vw, 100px) min(8.3333333333vw, 90px);
  }
}
.p-feature-cards {
  margin-top: 9.6vw;
}
@media (min-width: 768px) {
  .p-feature-cards {
    margin-top: min(2.5925925926vw, 28px);
  }
}

.p-result {
  padding: 12.2666666667vw 5.3333333333vw 13.3333333333vw;
  background: #CB0000;
}
@media (min-width: 768px) {
  .p-result {
    padding: min(4.0740740741vw, 44px) min(9.2592592593vw, 100px) min(7.4074074074vw, 80px);
  }
}