@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.c-cta {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  pointer-events: auto;
  @include pc {
    right: 0;
    transform: unset;
  }
  &__inner {
    width: vw(335);
    margin: 0 auto;
    padding-block: vw(14) vw(13);
    background: $color-main;
    font-size: vw(20);
    line-height: calc(33 / 20);
    color: #FFF;
    font-weight: 700;
    letter-spacing: 0.2em;
    @include pc {
      width: hvw(300);
      padding-block: hvw(15) hvw(10);
      margin-inline: auto 0;
      font-size: hvw(20);
      line-height: calc(33 / 20);
      border: solid 0.1rem $color-main;
      transition: background 0.4s, color 0.4s;
      cursor: pointer;
      &:hover {
        background: #FFF;
        color: $color-main;
      }
    }
  }
}
.c-button-wrapper {
  font-size: vw(20);
  line-height: calc(26 / 20);
  font-weight: 700;
  @include pc {
    font-size: hvw(25);
    line-height: calc(33 / 25);
  }
}
.p-button {
  height: vw(50);
  border: 0.1rem solid $color-main;
  color: #FFF;
  background: $color-main;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.4s, color 0.4s;
  @include pc {
    // margin-top: hvw(50);
    margin-inline: auto;
    width: hvw(250);
    height: hvw(50);
  }
  &:hover {
    background: #FFF;
    color: $color-main;
  }
}