@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.c-card {
  &:not(:first-of-type) {
    margin-top: vw(41);
    @include pc {
      margin-top: hvw(70);
    }
  }
  &__image {
    position: relative;
    &-label {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: vw(90);
      height: vw(30);
      background: $color-main;
      color: #FFF;
      font-size: vw(15);
      line-height: calc(25 / 15);
      font-weight: 700;
      @include pc {
        width: hvw(80);
        height: hvw(30);
        font-size: hvw(15);
      }
    }
  }
  &__title {
    margin-top: vw(30);
    font-size: vw(20);
    line-height: calc(30 / 20);
    font-weight: 700;
    @include pc {
      margin-top: hvw(20);
      font-size: hvw(20);
      line-height: calc(25 / 20);
    }
  }
  &__time {
    margin-top: vw(6);
    font-size: vw(17);
    line-height: calc(30 / 17);
    text-align: right;
    @include pc {
      margin-top: hvw(11);
      font-size: hvw(17);
    }
    &--details {
      text-align: left;
    }
  }
  &__link {
    margin-top: vw(37);
    text-align: center;
    font-size: vw(18);
    line-height: calc(30 / 18);
    font-weight: 500;
    @include pc {
      margin-top: hvw(37);
      font-size: hvw(18);
      text-align: right;
    }
    a {
      text-decoration: underline;
      text-underline-offset: 0.3rem;
    }
  }
}
.c-article-card {
  @include pc {
    display: flex;
  }
  .c-card__image {
    @include pc {
      width: hvw(260);
      height: hvw(184);
    }
  }
  .c-article__contents {
    flex: 1;
    @include pc {
      margin-left: hvw(50);
    }
    .c-card__title {
      @include pc {
        margin-top: 0;
      }
      .c-article__title {
        @include pc {
          font-size: hvw(20);
        }
      }
    }
    .c-card__time {
      @include pc {
        text-align: left;
        margin-top: hvw(3);
      }
    }
    p {
      margin-top: vw(8);
      @include pc {
        margin-top: hvw(11);
        font-size: hvw(18);
        line-height: calc(30 / 18);
      }
    }
  }
}