@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.c-form {
  margin-top: vw(29);
  &__item {
    margin-top: vw(13);
  }
  &__label {
    display: block;
    font-size: vw(16);
    line-height: calc(33 / 16);
  }
  &__input {
    display: block;
    width: 100%;
    border: 0.05rem solid #000;
    padding: vw(6) 0 0 vw(20);
    &::placeholder {
      font-size: vw(15);
      line-height: calc(33 / 15);
      color: #B2B2B2;
    }
  }
  &__checkbox {
    display: flex;
    align-items: center;
    &:not(:first-of-type) {
      margin-top: vw(10);
    }
    &-box {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      border: 0.05rem solid #000;
      position: relative;
    }
    &-text {
      margin-left: vw(10);
      font-size: vw(16);
      line-height: calc(30 / 16);
    }
    &-input:checked + &-box::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 0.5rem;
      height: 1rem;
      border-right: 0.1rem solid #000;
      border-bottom: 0.1rem solid #000;
    }
  }
  &__textarea {
    display: block;
    width: 100%;
    height: vw(190);
    border: 0.05rem solid #000;
    padding: vw(12) vw(20);
    &::placeholder {
      font-size: vw(15);
      line-height: calc(25 / 15);
    }
  }
}