@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

// nav
.c-nav{
  // header用
  &--header {
    position: fixed;
    top: vw(50);
    right: 0;
    transition: transform 0.4s;
    transform: translateX(120%);
    @include pc {
      position: static;
      transform: none;
    }
    .c-nav__list {
      @include pc {
        display: flex;
        align-items: center;
        column-gap: hvw(33);
      }
    }
    .c-nav__item {
      padding: 1.5rem 2rem 1rem;
      background: $color-main;
      width: vw(300);
      height: vw(58);
      @include pc {
        padding: 0;
        width: auto;
        height: hvw(80);
        background: #FFF;
        display: flex;
        flex: 0 0 auto;
        align-items: center;
      }
      a {
        font-size: vw(18);
        line-height: calc(33 / 18);
        font-weight: 700;
        display: block;
        color: #FFF;
        @include pc {
          font-size: hvw(17);
          line-height: calc(33 / 17);
          color: #000;
        }
      }
      &--line {
        a {
          @include pc {
            position: relative;
            &::after {
              position: absolute;
              content: '';
              width: 100%;
              height: 0.1rem;
              bottom: 0;
              left: 0;
              background: #000;
              transform: scaleX(0);
              transition: transform 0.4s;
              transform-origin: left;
            }
            &:hover {
              &::after {
                transform: scaleX(1);
              }
            }
          }
        }
      }
      &--contact {
        display: flex;
        align-items: center;
        @include pc {
          display: flex;
          justify-content: center;
          a {
            padding: hvw(7) hvw(30) hvw(5);
            background: $color-main;
            border: solid 0.1rem $color-main;
            color: #FFF;
            font-size: hvw(15);
            line-height: calc(33 / 15);
            display: block;
            transition: background 0.4s, color 0.4s;
            &:hover {
              background: #FFF;
              color: $color-main;
            }
          }
        }
      }
    }
    &.is-active {
      transform: translateX(0);
    }
  }

  // footer用
  &--footer {
    .c-nav__list {
      display: flex;
      justify-content: center;
      padding-inline: vw(21);
      column-gap: vw(30);
      @include pc {
        padding-inline: hvw(48);
        column-gap: hvw(33);
      }
    }
    .c-nav__item {
      a {
        font-size: vw(17);
        line-height: calc(33 / 17);
        font-weight: 700;
        color: #FFF;
        display: block;
        @include pc {
          font-size: hvw(17);
          line-height: calc(33 / 17);
        }
      }
    }
  }
}

