@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.c-page-fv {
  position: relative;
  width: 100%;
  &__image {
    width: 100%;
  }
  &__textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(80, 80, 80, 0.49);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__catch {
    font-size: vw(25);
    line-height: calc(60 / 25);
    font-weight: 700;
    color: #FFF;
    @include pc {
      font-size: hvw(25);
      line-height: calc(60 / 25);
    }
  }
}
.c-breadcrumb {
  width: 100%;
  background: rgba(232, 232, 232, 1);
  &__list {
    display: flex;
    column-gap: 1.9rem;
    font-size: vw(16);
    line-height: calc(33 / 16);
    padding-top: 0.3rem;
    padding-left: vw(20);
    @include pc {
      padding-left: hvw(101);
      font-size: hvw(16);
      line-height: calc(33 / 16);
    }
  }
}