@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.c-section-title {
  font-size: vw(25);
  line-height: calc(40 / 25);
  font-weight: 700;
  text-align: center;
  @include pc {
    font-size: hvw(30);
    line-height: calc(50 / 30);
  }
  &--white {
    color: #FFF;
  }
  &--red {
    color: $color-main;
  }
}