@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-blog-details {
  padding: vw(50) vw(20) vw(197);
  .c-details-sns {
    margin-top: vw(21);
    &__list {
      display: flex;
      column-gap: vw(3);
    }
    &__item {
      width: vw(65);
      height: vw(40);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__title {
    width: 100%;
    height: 5rem;
    text-align: center;
    background: #000;
    color: #FFF;
    font-size: vw(18);
    line-height: calc(33 / 18);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text {
    margin-top: vw(10);
    p {
      margin-top: vw(17);
      font-size: vw(16);
      line-height: calc(30 / 16);
    }
    h2 {
      margin-top: vw(39);
      font-size: vw(20);
      line-height: calc(30 / 20);
      font-weight: 700;
    }
  }
  &__contents {
    margin-top: vw(39);
    &-list {
      margin-top: vw(27);
      font-size: vw(16);
      line-height: calc(30 / 16);
      list-style: inside;
    }
  }
  &__quote {
    margin-top: vw(38.5);
    padding-top: vw(50);
    border-top: solid 0.5px #000;
    h3 {
      font-size: vw(20);
      line-height: calc(30 / 20);
      font-weight: 700;
      margin-left: vw(9.5);
      position: relative;
      &::before {
        content: "";
        width: vw(3);
        height: vw(50);
        background: #000;
        left: -0.95rem;
        position: absolute;
      }
    }
    &-textarea {
      margin-top: vw(19.5);
      display: flex;
      align-items: start;
      padding: 1.7rem 2rem 1.1rem 2.5rem;
      column-gap: 2.5rem;
      background: #E8E8E8
    }
    &-icon {
      width: vw(27);
      height: vw(23);
    }
    &-text {
      flex: 1;
      font-size: vw(16);
      line-height: calc(30 / 16);
    }
    &-link {
      margin-top: vw(27);
      a {
        font-size: vw(20);
        line-height: calc(33 / 20);
        font-weight: 700;
        color: $color-main;
        border-bottom: solid 1px $color-main;
      }
    }
  }
  &__pager {
    display: flex;
    column-gap: vw(22);
    margin-top: vw(45);
    &-prev {
      span {
        display: block;
        padding-left: vw(20);
      }
    }
    &-next {
      span {
        display: block;
        text-align: right;
        padding-right: vw(20);
      }
    }
    span {
      display: block;
      background: #000;
      color: #FFF;
      font-size: vw(17);
      line-height: calc(30 / 17);
      padding-block: vw(4) vw(3);
    }
    p {
      margin-top: vw(15);
      font-size: vw(16);
      line-height: calc(25 / 16);
      font-weight: 700;
    }
  }
  &__related {
    margin-top: vw(71);
    &-item {
      margin-top: vw(20);
    }
    &-link {
      display: flex;
      column-gap: vw(20);
      align-items: center;
      .c-blog-card__image {
        width: vw(160);
        &-text {
          width: vw(80);
        }
      }
      .p-blog__related-textarea {
        flex: 1;
        .p-blog__related-title {
          font-size: vw(17);
          line-height: calc(28 / 17);
        }
        .c-blog-card__time {
          font-size: vw(17);
          line-height: calc(30 / 17);
          text-align: left;
        }
      }
    }
  }
  &__newsletter {
    margin-top: vw(30);
    &-banner {
      border: solid 0.05rem #000 ;
      &__text {
        background: rgba(232, 232, 232, 1);
        height: vw(228);
        margin: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &__search {
    margin-top: vw(30);
    &-form {
      border: solid 0.05rem #000;
      display: flex;
      justify-content: center;
      padding: vw(20);
    }
    &-input {
      background: rgba(232, 232, 232, 1);
      display: block;
      width: 100%;
      height: vw(54);
    }
    &-button {
      background: #000;
      display: inline-block;
      width: vw(54);
      height: vw(54);
      padding: vw(11) vw(14);
    }
  }
  &__recommend {
    margin-top: vw(30);
    &-item {
      margin-top: vw(20);
    }
    &-link {
      display: flex;
      column-gap: vw(20);
    }
    &-image {
      width: vw(160);
      height: vw(110);
      background: rgba(80, 80, 80, 0.1);
    }
    &-title {
      flex: 1;
      font-size: vw(17);
      line-height: calc(28 / 17);
      margin-top: vw(8.5);
    }
  }
  &__category {
    margin-top: vw(30);
    &-item {
      border-bottom: solid 0.05rem #000;
      a {
        display: block;
        font-size: vw(17);
        line-height: vw(28);
        margin-block: vw(12) vw(7);
      }
    }
  }
}





.facebook {
  background:rgba(66, 88, 147, 1);
}
.twitter {
  background: rgba(74, 159, 235, 1);
}
.hatena {
  background: rgba(78, 172, 213, 1);
}
.line {
  background: rgba(82, 181, 52, 1);
}
.pocket {
  background: rgba(220, 79, 90, 1);
}