@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-contact {
  padding: vw(47) vw(20) vw(108);
  @include pc {
    padding: hvw(68) hvw(100) hvw(100);
  }
  &__text {
    font-size: vw(16);
    line-height: calc(30 / 16);
    @include pc {
      font-size: hvw(18);
      line-height: calc(30 / 18);
      text-align: center;
    }
  }
  &__button {
    margin-top: vw(50);
    @include pc {
      margin-top: hvw(50);
    }
  }
}
