@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

// 料金体系
.p-pricing-fv {
  .c-breadcrumb__list {
    padding-top: vw(3);
    @include pc {
      padding-block: hvw(10) hvw(7);
    }
  }
}
.p-pricing {
  padding-top: vw(46);
  @include pc {
    padding-top: hvw(67);
  }
  &__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.9rem;
    @include pc {
      margin-top: hvw(40);
      flex-direction: row;
      justify-content: center;
      column-gap: hvw(30);
    }
  }
  &__price {
    &-box {
      margin-block: 1.9rem 2rem;
      @include pc {
        margin-block: 1.85rem;
      }
    }
    &-text {
      width: vw(210);
      background: $color-main;
      text-align: center;
      font-size: vw(20);
      line-height: calc(33 / 20);
      padding-block: 1.5rem 1.2rem;
      color: #FFF;
      font-weight: 700;
      @include pc {
        width: hvw(210);
        font-size: hvw(20);
        line-height: calc(33 / 20);
      }
    }
  }
  &__text {
    margin-top: 4.7rem;
    line-height: calc(30 / 16);
    @include pc {
      font-size: hvw(18);
      line-height: calc(30 / 18);
      margin-top: 4.8rem;
    }
  }
}

// プラン内容・月額料金
.p-plan {
  padding-top: 3.8rem;
  padding-bottom: 18.6rem;
  @include pc {
    padding-bottom: 22.3rem;
  }
  &__table-wrap {
    overflow-x: scroll;
    padding-bottom: 1.75rem;
    @include pc {
      overflow-x: scroll;
    }
    &::-webkit-scrollbar {
      height: 2.3rem;
      background: rgba(80, 80, 80, 0.15);
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(80, 80, 80, 0.25);
    }
  }
  &__table {
    margin-top: 3.6rem;
  }
  &__price {
    border-top: #000 solid 0.5px;
    td {
      font-size: 2.2rem;
      line-height: calc(33 / 22);
    }
  }
  &__head {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    line-height: calc(25 / 20);
    color: #FFF;
    height: 6.6rem;
    @include pc {
      height: hvw(50);
      font-size: hvw(20);
      line-height: calc(33 / 20);
    }
    &--recommend {
      height: 8rem;
      flex-direction: column;
    }
  }
  &-ball {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 auto;
  }
  &-line {
    &::before {
      content: "";
      display: block;
      width: 3rem;
      height: 1px;
      background: #000;
      margin: 0 auto;
    }
  }
  &--gray {
    background: rgba(80, 80, 80, 0.15);
  }
  &__comment {
    margin-top: 1.7rem;
    font-size: 1.6rem;
    line-height: calc(30 / 16);
  }
  table {
    border-collapse: collapse;
    min-width: 67rem;
    thead {
      th:nth-of-type(1),
      th:nth-of-type(3) {
        border: none;
      }
      th {
        vertical-align: bottom;
        padding: 0;
        span {
          font-size: 1.7rem;
          line-height: calc(25 / 17);
            @include pc {
            font-size: hvw(17);
            line-height: calc(33 / 17);
          }
        }
      }
    }
    tbody {
      border-bottom: #000 solid 0.5px;
      th, td {
        width: 22rem;
        height: 8.5rem;
        vertical-align: middle;
        border-left: #000 solid 0.5px;
        @include pc {
          font-size: hvw(17);
          line-height: calc(30 / 17);
        }
        &:first-child {
          border-left: none;
        }
      }
      th {
        padding-left: 1rem;
      }
      td {
        text-align: center;
      }
    }
  }
}