@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-result-list {
  padding: vw(46) vw(20) vw(203);
  @include pc {
    padding: hvw(65) hvw(100) hvw(210);
  }
  .c-section-title {
    @include pc {
      font-size: hvw(25);
      line-height: calc(38 / 25);
    }
  }
  &__fv {
    .c-breadcrumb__list {
      @include pc {
        padding-block: hvw(8) hvw(9);
      }
    }
  }
  &__title {
    font-size: vw(25);
    line-height: calc(40 / 25);
    font-weight: 700;
    text-align: center;
    @include pc {
      font-size: hvw(25);
      line-height: calc(38 / 25);
    }
  }
  &__list {
    margin-top: vw(39);
    @include pc {
      margin-top: hvw(41);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: hvw(106);
    }
  }
  &__item {
    @include pc {
      display: block;
      width: hvw(387);
    }
    &:not(:first-of-type) {
      margin-top: vw(41);
      @include pc {
        margin-top: hvw(70);
      }
    }
    &:nth-child(-n + 2) {
      @include pc {
        margin-top: 0;
      }
    }
    &:nth-child(3),
    &:nth-child(4) {
      @include pc {
        margin-top: hvw(60);
      }
    }
    .c-card {
      &__image-label {
        @include pc {
          width: hvw(100);
        }
      }
      &__time {
        @include pc {
          font-size: hvw(18);
          line-height: calc(32 / 18);
        }
      }
    }
  }
}