@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-result-details {
  padding: vw(50) vw(20) vw(197);
  @include pc {
    padding: hvw(70) hvw(100) hvw(157);
  }
  &__fv {
    .c-breadcrumb {
      &__list {
        padding-block: vw(9) vw(2);
        @include pc {
          padding-block: hvw(10) hvw(7);
          column-gap: hvw(18);
        }
      }
      &__item,
      &__separator {
        line-height: calc(22 / 16);
        @include pc {
          line-height: calc(33 / 16);
        }
      }
      &__item {
        &--current {
          line-height: calc(20 / 16);
          @include pc {
            line-height: calc(33 / 16);
          }
        }
      }
    }
  }
  &__image {
    position: relative;
    &-text {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: vw(100);
      height: vw(30);
      background: $color-main;
      color: #FFF;
      font-size: vw(15);
      line-height: calc(25 / 15);
      font-weight: 700;
      @include pc {
        width: hvw(100);
        height: hvw(30);
        font-size: hvw(15);
        line-height: calc(25 / 15);
      }
    }
  }
  &__contents {
    margin-top: vw(30);
    @include pc {
      margin-top: hvw(50);
    }
    &-title {
      font-size: vw(20);
      line-height: calc(30 / 20);
      font-weight: 700;
      @include pc {
        font-size: hvw(25);
        line-height: calc(40 / 25);
      }
    }
    &-time {
      margin-top: vw(6);
      font-size: vw(17);
      line-height: calc(30 / 17);
      @include pc {
        margin-top: hvw(15);
        font-size: hvw(17);
        line-height: calc(30 / 17);
      }
    }
  }
  &__inner {
    margin-top: vw(21);
    @include pc {
      margin-top: hvw(57);
      display: flex;
      column-gap: hvw(40);
    }
  }
  &__table {
    border-collapse: collapse;
    width: 100%;
    @include pc {
      width: hvw(400);
      flex-shrink: 0;
    }
    &-row {
      width: 100%;
    }
    &-head {
      width: vw(120);
      font-weight: 700;
      background: #E5E5E5;
      @include pc {
        width: hvw(140);
      }
    }
    &-data {
      @include pc {
        width: hvw(260);
      }
    }
    &-head,
    &-data {
      height: vw(38);
      border: solid 0.05rem #707070;
      font-size: vw(18);
      line-height: calc(30 / 18);
      padding-top: vw(8);
      padding-left: vw(10);
      @include pc {
        height: hvw(38);
        font-size: hvw(18);
        line-height: calc(30 / 18);
        padding-top: hvw(8);
        padding-left: hvw(20);
      }
    }
  }
  &__text {
    margin-top: vw(25);
    font-size: vw(18);
    line-height: calc(30 / 18);
    @include pc {
      margin-top: 0;
      width: hvw(440);
      flex-shrink: 0;
      font-size: hvw(18);
      line-height: calc(30 / 18);
    }
  }
  .p-pager {
    margin-top: vw(40);
    @include pc {
      margin-top: hvw(57);
      column-gap: hvw(199);
    }
  }
  .p-related {
    @include pc {
      margin-top: hvw(98);
    }
  }
}