@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-result-list__fv {
  .c-breadcrumb__list {
    @include pc {
      padding-block: hvw(8) hvw(9);
    }
  }
}
.p-result-list {
  padding: vw(46) vw(20) vw(203);
  @include pc {
    padding: hvw(65) hvw(100) hvw(210);
  }
  &__title {
    font-size: vw(25);
    line-height: calc(40 / 25);
    font-weight: 700;
    text-align: center;
    @include pc {
      font-size: hvw(25);
      line-height: calc(38 / 25);
    }
  }
  &__list {
    margin-top: vw(39);
    @include pc {
      margin-top: hvw(40);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: hvw(106) hvw(61);
    }
  }
  &__item {
    &:not(:first-of-type) {
      margin-top: vw(41);
      @include pc {
        margin-top: 0;
      }
    }
  }
}