@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

// ファーストビュー
.p-fv {
  position: relative;
  &__image {
    width: 100%;
  }
  &__textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(80, 80, 80, 0.5);
    display: flex;
    justify-content: center;
  }
  &__catch {
    position: absolute;
    text-align: center;
    color: #FFF;
    font-size: vw(30);
    line-height: calc(50 / 30);
    font-weight: 700;
    bottom: vw(192);
    @include pc {
      font-size: hvw(40);
      line-height: calc((60 / 40));
      bottom: hvw(162);
    }
    span {
      display: block;
    }
  }
}

// コンセプト
.p-concept {
  padding: vw(46) vw(20) vw(34);
  @include pc {
    padding: hvw(66) hvw(110) hvw(55);
  }
  &__text {
    font-size: vw(18);
    line-height: calc(30 / 18);
    margin-top: vw(7);
    @include pc {
      font-size: hvw(18);
      line-height: calc(30 / 18);
      margin-top: hvw(17);
      text-align: center;
    }
  }
  &__image {
    margin-top: vw(20);
    width: 100%;
    @include pc {
      margin-top: hvw(34);
    }
  }
  &__contents {
    position: relative;
    margin-top: vw(32);
    display: flex;
    justify-content: center;
    column-gap: vw(40);
    @include pc {
      margin-top: hvw(17);
      column-gap: hvw(40);
    }
    &-item {
      font-size: vw(20);
      line-height: calc(50 / 20);
      @include pc {
        font-size: hvw(25);
        line-height: calc(50 / 25);
      }
      p {
        &:not(:first-child) {
          padding-top: vw(17);
          @include pc {
            padding-top: hvw(17);
          }
        }
      }
      &:nth-of-type(1) {
        text-align: right;
        color: $color-main;
        font-weight: 700;
      }
    }
  }
  &__line {
    position: relative;
    top: vw(-30);
    width: vw(3);
    height: vw(188);
    background: $color-main;
    border-radius: 1rem;
    @include pc {
      top: hvw(-25);
      width: hvw(3);
      height: hvw(188);
    }
    .p-concept__arrow {
      position: absolute;
      &:nth-of-type(1) {
        top: -0.4rem;
        left: 0.1rem;
        transform: rotate(45deg);
        transform-origin: left;
        width: vw(21);
        height: vw(3);
        background: $color-main;
        border-radius: 1rem;
        @include pc {
          width: hvw(21);
          height: hvw(3);
        }
      }
      &:nth-of-type(2) {
        top: -0.4rem;
        right: 0.1rem;
        transform: rotate(-45deg);
        transform-origin: right;
        width: vw(21);
        height: vw(3);
        background: $color-main;
        border-radius: 1rem;
        @include pc {
          width: hvw(21);
          height: hvw(3);
        }
      }
    }
    .p-concept__ball {
      position: absolute;
      bottom: vw(-10);
      left: 50%;
      transform: translateX(-50%);
      width: vw(20);
      height: vw(20);
      background: $color-main;
      border-radius: 50%;
      @include pc {
        bottom: hvw(-8);
        width: hvw(20);
        height: hvw(20);
      }
      &:nth-of-type(3) {
        bottom: vw(55);
        @include pc {
          bottom: hvw(60);
        }
      }
      &:nth-of-type(4) {
        bottom: vw(120);
        @include pc {
          bottom: hvw(125);
        }
      }
    }
  }
}

// アバウト
.p-about {
  padding: vw(49) vw(20) vw(40);
  background: $color-main;
  @include pc {
    padding: hvw(68) hvw(100) hvw(60);
  }
  &__text {
    margin-top: vw(14);
    font-size: vw(18);
    line-height: calc(30 / 18);
    color: #FFF;
    text-align: center;
    @include pc {
      margin-top: hvw(30);
      font-size: hvw(18);
      line-height: calc(30 / 18);
    }
  }
}

// feature
.p-feature {
  padding: vw(49) vw(20) vw(39);
  @include pc {
    padding: hvw(64) hvw(100) hvw(90);
  }
  &-cards {
    margin-top: vw(36);
    @include pc {
      margin-top: hvw(28);
    }
  }
}

// result
.p-result {
  padding: vw(46) vw(20) vw(50);
  background: $color-main;
  @include pc {
    padding: hvw(44) hvw(100) hvw(80);
  }
}

// flow
.p-flow {
  padding: vw(46) vw(20) 0;
  @include pc {
    padding: hvw(34) hvw(100) hvw(17);
  }
  &__contents {
    margin-top: vw(38);
    padding-left: vw(48);
    position: relative;
    @include pc {
      margin-top: hvw(38);
    }
  }
  &__item {
    @include pc {
      display: flex;
      column-gap: hvw(38);
    }
    &:not(:first-of-type) {
      margin-top: vw(36);
      @include pc {
        margin-top: hvw(58);
      }
    }
    h3 {
      font-size: vw(22);
      line-height: calc(33 / 22);
      font-weight: 700;
      color: $color-main;
      @include pc {
        font-size: hvw(22);
        line-height: calc(33 / 22);
        width: hvw(154);
      }
    }
    p {
      margin-top: vw(9);
      font-size: vw(16);
      line-height: calc(30 / 16);
      @include pc {
        margin-top: 0;
        font-size: hvw(18);
        line-height: calc(30 / 18);
      }
    }
  }
  &__arrow {
    position: absolute;
    top: vw(16);
    left: vw(18);
    width: vw(3);
    height: vw(669);
    background: $color-main;
    @include pc {
      top: hvw(20);
      left: hvw(61);
      width: hvw(3);
      height: 100%;
    }
    &::before {
      content: '';
      width: vw(21);
      height: vw(3);
      background: $color-main;
      position: absolute;
      bottom: -3px;
      right: 1px;
      border-radius: 10px 0 0 10px;
      transform: rotate(45deg);
      transform-origin: right;
      @include pc {
        width: hvw(21);
        height: hvw(3);
      }
    }
    &::after {
      content: '';
      width: vw(21);
      height: vw(3);
      background: $color-main;
      position: absolute;
      bottom: -3px;
      left: 1px;
      border-radius: 0 10px 10px 0;
      transform: rotate(-45deg);
      transform-origin: left;
      @include pc {
        width: hvw(21);
        height: hvw(3);
      }
    }
  }
  &__ball {
    position: absolute;
    top: vw(-10);
    left: vw(-8);
    width: vw(20);
    height: vw(20);
    background: $color-main;
    border-radius: 50%;
    @include pc {
      top: hvw(-12);
      left: hvw(-7);
      width: hvw(20);
      height: hvw(20);
    }
    &:nth-of-type(2) {
      top: vw(158);
      @include pc {
        top: hvw(105);
      }
    }
    &:nth-of-type(3) {
      top: vw(356);
      @include pc {
        top: hvw(222);
      }
    }
    &:nth-of-type(4) {
      top: vw(524);
      @include pc {
        top: hvw(342);
      }
    }
  }
}

// question
.p-question {
  padding: vw(55) vw(20) 0;
  @include pc {
    padding: hvw(90) hvw(100) 0;
  }
  &__list {
    margin-top: vw(39);
    @include pc {
      margin-top: hvw(36);
    }
  }
  &__item {
    border-bottom: solid 0.1rem #000;
    &:first-of-type {
      border-top: solid 0.1rem #000;
    }
  }
  &__q {
    position: relative;
    padding-block: vw(17) vw(9);
    display: flex;
    align-items: center;
    column-gap: vw(20);
    @include pc {
      padding-block: hvw(15);
      column-gap: hvw(10);
    }
    &::after {
      content: '';
      width: vw(13);
      height: vw(13);
      border-top: solid 0.1rem #000;
      border-left: solid 0.1rem #000;
      position: absolute;
      top: 50%;
      right: vw(15);
      transform: translateY(-50%) rotate(-135deg);
      cursor: pointer;
      @include pc {
        width: hvw(13);
        height: hvw(13);
        right: hvw(30);
      }
    }
    &.active::after {
      transform: translateY(-50%) rotate(45deg);
    }
  }
  &__a {
    padding-block: vw(17) vw(9);
    display: none;
    background: rgba(203, 0, 0, 0.1);
    @include pc {
      padding-block: hvw(15);
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    column-gap: vw(20);
    @include pc {
      column-gap: hvw(10);
    }
  }
  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: vw(35);
    height: vw(35);
    border-radius: 50%;
    font-size: vw(20);
    line-height: calc(30 / 20);
    font-weight: 700;
    @include pc {
      width: hvw(35);
      height: hvw(35);
      font-size: hvw(16);
      line-height: calc(30 / 16);
    }
    &--q {
      background: #000;
      color: #FFF;
    }
    &--a {
      background: #CB0000;
      color: #FFF;
    }
  }
  &__text {
    display: block;
    font-size: vw(16);
    line-height: calc((30 / 16));
    font-weight: 500;
    padding-right: vw(47);
    @include pc {
      font-size: hvw(17);
      line-height: calc(30 / 17);
      padding: 0;
    }
    &--a {
      color: #CB0000;
      font-weight: 700;
    }
  }
}

// blog
.p-blog {
  padding: vw(50) vw(20) vw(132);
  @include pc {
    padding: hvw(70) hvw(100) hvw(145);
  }
  &__list {
    margin-top: vw(39);
    @include pc {
      margin-top: hvw(38);
    }
  }
  &__list {
  @include pc {
    display: flex;
    justify-content: space-between;
    column-gap: hvw(50);
  }
  }
}