@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

// ファーストビュー
.p-fv {
  position: relative;
  &__image {
    width: 100%;
  }
  &__textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(80, 80, 80, 0.5);
    display: flex;
    justify-content: center;
  }
  &__catch {
    position: absolute;
    text-align: center;
    color: #FFF;
    font-size: vw(30);
    line-height: calc(50 / 30);
    font-weight: 700;
    bottom: vw(192);
    @include pc {
      font-size: hvw(40);
      line-height: calc((60 / 40));
      bottom: hvw(162);
    }
    span {
      display: block;
    }
  }
}

// コンセプト
.p-concept {
  padding: vw(46) vw(20) vw(34);
  @include pc {
    padding: hvw(66) hvw(110) hvw(55);
  }
  &__title {
    font-size: vw(25);
    line-height: calc(40 / 25);
    font-weight: 700;
    color: $color-main;
    text-align: center;
    @include pc {
      font-size: hvw(35);
      line-height: calc((50 / 35));
    }
    span {
      display: block;
      @include pc {
        display: inline-block;
      }
    }
  }
  &__text {
    font-size: vw(18);
    line-height: calc(30 / 18);
    margin-top: vw(7);
    @include pc {
      font-size: hvw(18);
      line-height: calc(30 / 18);
      margin-top: hvw(17);
      text-align: center;
    }
  }
  &__image {
    margin-top: vw(20);
    width: 100%;
    @include pc {
      margin-top: hvw(34);
    }
  }
  &__contents {
    position: relative;
    margin-top: vw(32);
    display: flex;
    justify-content: center;
    column-gap: vw(40);
    @include pc {
      margin-top: hvw(17);
      column-gap: hvw(40);
    }
    &-item {
      font-size: vw(20);
      line-height: calc(50 / 20);
      @include pc {
        font-size: hvw(25);
        line-height: calc(50 / 25);
      }
      p {
        &:not(:first-child) {
          padding-top: vw(17);
          @include pc {
            padding-top: hvw(17);
          }
        }
      }
      &:nth-of-type(1) {
        text-align: right;
        color: $color-main;
        font-weight: 700;
      }
    }
  }
  &__line {
    position: relative;
    top: vw(-30);
    width: vw(3);
    height: vw(188);
    background: $color-main;
    border-radius: 1rem;
    @include pc {
      top: hvw(-25);
      width: hvw(3);
      height: hvw(188);
    }
    .p-concept__arrow {
      position: absolute;
      &:nth-of-type(1) {
        top: -0.4rem;
        left: 0.1rem;
        transform: rotate(45deg);
        transform-origin: left;
        width: vw(21);
        height: vw(3);
        background: $color-main;
        border-radius: 1rem;
        @include pc {
          width: hvw(21);
          height: hvw(3);
        }
      }
      &:nth-of-type(2) {
        top: -0.4rem;
        right: 0.1rem;
        transform: rotate(-45deg);
        transform-origin: right;
        width: vw(21);
        height: vw(3);
        background: $color-main;
        border-radius: 1rem;
        @include pc {
          width: hvw(21);
          height: hvw(3);
        }
      }
    }
    .p-concept__ball {
      position: absolute;
      bottom: vw(-10);
      left: 50%;
      transform: translateX(-50%);
      width: vw(20);
      height: vw(20);
      background: $color-main;
      border-radius: 50%;
      @include pc {
        bottom: hvw(-8);
        width: hvw(20);
        height: hvw(20);
      }
      &:nth-of-type(3) {
        bottom: vw(55);
        @include pc {
          bottom: hvw(60);
        }
      }
      &:nth-of-type(4) {
        bottom: vw(120);
        @include pc {
          bottom: hvw(125);
        }
      }
    }
  }
}

// アバウト
.p-about {
  padding: vw(49) vw(20) vw(40);
  background: $color-main;
  @include pc {
    padding: hvw(68) hvw(100) hvw(60);
  }
  &__title {
    font-size: vw(25);
    line-height: calc(40 / 25);
    font-weight: 700;
    color: #FFF;
    text-align: center;
    @include pc {
      font-size: hvw(30);
      line-height: calc(50 / 30);
    }
    span {
      display: block;
      @include pc {
        display: inline-block;
      }
    }
  }
  &__text {
    margin-top: vw(14);
    font-size: vw(18);
    line-height: calc(30 / 18);
    color: #FFF;
    text-align: center;
    @include pc {
      margin-top: hvw(30);
      font-size: hvw(18);
      line-height: calc(30 / 18);
    }
  }
}