@use '../foundation/variable' as *;
@use '../foundation/mixin' as *;

.l-header {
  width: 100%;
  height: vw(50);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  @include pc {
    width: hvw(880);
    height: hvw(80);
    margin: 0 auto;
  }
  // logo
  &__logo {
    a {
      display: flex;
      column-gap: vw(6.3);
      align-items: center;
    }
    &-image {
      width: vw(20.31);
      @include pc {
        width: hvw(32);
      }
    }
  }
}